* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  background-image: url(/src/fondo.svg),  url(/src/fondo.svg),  url(/src/fondo.svg);
  background-position: right bottom, right top, left center;
  background-color:  #E5E5E5; 
  background-repeat: no-repeat, no-repeat, no-repeat;
  height:100vh;
  width: 100%;
  background-size: 30%, 20%, 30%;
  text-align: center;
}

h1 {
  padding: 1rem;
}
