* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(/src/fondo.svg), url(/src/fondo.svg), url(/src/fondo.svg);
  background-position: right bottom, right top, left center; 
  background-color:  #E5E5E5;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 40vh, 20vh, 50vh;
  background-attachment: fixed;
}

.App { 
  height:100vh;
  width: 100%; 
  text-align: center;
  margin: auto;
}

h1 {
  padding: 0.2rem;
  font-size: 1.3rem;
}

h5 {
  font-size: 0.8rem;
  margin: 0.1rem;
}

p {
  font-size: 1rem;
  font-weight: bold;
}

img {
  height: auto;
  width: 4rem;
  margin: 0.5rem;
}

button {
  margin-top: 0.5rem;
  padding: 0.2rem;
  border: 1px solid #6B00F5;
  border-radius: 15px;
  background-color: #6B00F5;
  font-size: 0.8rem;
  font-weight: bold;  
  color: beige;  
}

.container {
  padding: 2rem ;
  display: flex;
  justify-content: space-around;  
}

.products {
  border-radius: 30px;
  background: white;
  width: 40%;
}

.products-cart {
  border-radius: 30px;
  width: 40%;
  background-color: white;
}

.cards {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
  gap: 0.8rem;
  padding: 1rem;
  margin: auto; 
}

.card {
  display: inline;
  padding: 0.1rem;
  border: 1px solid aliceblue;
  border-radius: 10px;
  background-color: aliceblue;
  justify-content: center;
}

.card-body {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
}

.button-addCart {
  background-color: black;
   border: 1px solid black;
}

.cart { 
  display: flex;
  margin: auto;
  border-bottom: 1px solid #6B00F5;
  padding: 0.2rem; 
}

.cart-body {
  width: 60%; 
}

.button-cart {
   border-radius: 50%;
   font-weight: bold;
   width: 1.5rem;
   font-size: small;
   margin: 0.2rem;
}

.cart-total {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 0.5rem;
}

.image-cart {
  border-radius: 10px;
  height: auto;
  width: 50px;
}

.image-count {  
  border-radius: 50%;
  color: white;
  background-color: black;
  width: 30%;
  font-size: 0.7rem;
  padding: 0.2rem;
  margin: auto; 
}

.trash{
    border: white;
    background-color: white;
    margin-top: 0;
    padding: 0;
    border-radius: 0;
    font-size: 0;
  }

.total-price-cart {
  text-align: end;
  margin: 1.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-auto-rows: 1.5rem;
}

.total-price {
  color: #6B00F5;
}

@media (min-width: 992px) {

  h1 {
    padding: 0.5rem;
    font-size: 2rem;
  }

  h5 {
    font-size: 1rem;
    margin: 0.3rem;
  }

  img {
    height: auto;
    width: 6rem;
    margin: 1rem;
  }

  p {
    font-size: 1.3rem;
  }

  button {
    margin-top: 1rem;
    padding: 0.4rem;
    border: 1px solid #6B00F5;
    border-radius: 20px;
    font-size: 1rem;
   
  }

  .App {
    width: 80%;
  }

  .card {
    display: flex;
    padding: 0.5rem;
  }

  .card-body {
    margin-top: 2rem;
  }

  .cart {
    display: flex;
    justify-content: center;
    margin: 0.5rem;
    padding: 0.8rem; 
  }

  .image-count {
    width: 40%;
    font-size: 1rem;
  }

  .button-cart {
    font-size: medium;
    margin: 0.3rem;
  }

  .cart-total {
    font-size: 1.5rem;
  }

  .total-price-cart {
    font-size: 1.4rem;
    grid-template-columns: 65% 35%;
    grid-auto-rows: 2.2rem;
  }

  .trash{
    padding: 1rem;
  }
} 
