* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(/src/fondo.svg), url(/src/fondo.svg), url(/src/fondo.svg);
  background-position: right bottom, right top, left center; 
  background-color:  #E5E5E5;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 40vh, 20vh, 50vh;
  background-attachment: fixed; 
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin-right: 1.5rem;
}

h1 {
  padding: 0.3rem;
  font-size: 1.3rem;
  text-align: center;
}

h5 {
  font-size: 0.8rem;
  margin: 0.1rem;
}

p {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

img {
  
  height: 4rem;
  width: 3.5rem;
  margin: 0.3rem;
}

button {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  padding: 0.2rem;
  border: 1px solid #6B00F5;
  border-radius: 15px;
  background-color: #6B00F5;
  font-size: 0.8rem;
  font-weight: bold;  
  color: beige;  
}

.App { 
  height:100vh;
  width: 100%;
}

.nabvar {
  display: flex;
  align-items: center;  
  gap: 2.5rem;  
  background-color:  #E5E5E5;
  box-shadow: 5px 5px 30px gray;
  height: 3rem; 
  padding: 1rem;
  position: fixed;
  z-index: 999; 
  width: 100%;
}

.container {
  border: solid 1px #E5E5E5;
  text-align: center;
  justify-content: center;
}

.products {
  border-radius: 0px 0px 30px 30px;
  background: white;
  width: 80%;
  margin: auto;
  margin-top: 3rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 0.6rem;
  padding: 0.5rem;
  margin: auto;
}

.showCart-products {
  border-radius: 30px;
  width: 70%;
  background-color: white;
  display: none; 
  position: fixed;
  right: 0rem;
  top: 0rem;
  box-shadow: 4px 4px 40px black;  
}

.showCart-cards {
  height: 72vh;
  overflow-y: auto;
  border-bottom: solid 1px grey;
}

.card {
  display: inline;
  padding: 0.1rem; 
  border-radius: 10px;
  background-color: aliceblue;
  justify-content: center;
  
}

.card-body {
  margin: auto;
  width: 7rem;
  display: flex;
  flex-direction: column;
}

.button-addCart {
  background-color: black;
  border: 1px solid black;
}

.showCart-button {
  align-items: center;
  background: #6B00F5;
  border-radius: 9999px;
  cursor: pointer;
  display: flex;
  height: 2rem;
  justify-content: center;
  padding: 2px;
  position: absolute;
  position: fixed;
  right: 1rem;
  top: 0.5rem;
  transition: all .3s ease;
  width: 2rem;
  z-index: 9999;
}

.showCart-button:hover {
  scale: 1.1;
}

.showCart-button ~ input:checked ~ .showCart-products {
  height: 100%;
  display: block;
}

.showCart-button ~ input:checked ~ .container {
  position: fixed;
  width: 100%;
  background: #303030;
  opacity: 0.6;
  z-index: -1;
}

.showCart-title {
  margin-top: 3rem;
}

.cart { 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 7rem;
  border-bottom: solid 1px grey;
  margin: 0 1rem;
}

.cart-image {
  width: 2.5rem;
  margin: 0.4rem; 
}

.cart-total {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 0.5rem;
}

.cart-button {
  border-radius: 50%;
  font-weight: bold;
  width: 1.5rem;
  font-size: small;
  margin: 0.2rem;
}


.cart-trash{
  border: white;
  background-color: white;
  border-radius: 0;
  height: 2rem;
}

.cart-total-price {
  text-align: end;
  font-size: 1.2rem;
  font-weight: bold;
  display: grid;
  grid-template-columns: 60% 30%;
  grid-auto-rows: 1.4rem;
  margin-top: 0.5rem;
}

.total-price {
  color: #6B00F5;
}

.ApiError {
  text-align: center;
  margin: 2rem;
  padding: 2rem;
  background-color: rgb(239, 210, 210);
}

@media (min-width: 768px) {

  h1 {
    padding: 0.5rem;
    font-size: 1.6rem;
  }

  h5 {
    font-size: 1rem;
    margin: 0.3rem;
  }

  img {
    height: auto;
    width: 6rem;
    margin: 0.5rem;
  }

  p {
    font-size: 1.3rem;
  }

  button {
    margin-top: 1rem;
    padding: 0.4rem;
    border: 1px solid #6B00F5;
    border-radius: 20px;
    font-size: 1rem;
  }

  .nabvar {
    justify-content: space-around;
    font-size: 1.3rem;
  }

  .products {
    width: 90%;
  }

  .cards {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    padding: 1.5rem;
  }

  .showCart-button {
    height: 2.5rem;
    right: 2rem;
    width: 2.5rem;
    top: 0.3rem;
  }

  .showCart-products {
    width: 50%;
  }

  .showCart-cards {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    height: 74%;
  }

  .showCart-button ~ input:checked ~ .container {
    width: 80%;
  }

  .card {
    display: flex;
    padding: 0.5rem;
  }

  .card-body {
    width: 12rem;
  }
  
  .cart {
    margin: 1rem 3rem;
    padding: 1rem;
  }

  .cart-image {
    width: 3rem;
    height: auto;
    margin: 1rem;
  }

  .cart-imageCount {
    width: 40%;
    font-size: 1rem;
  }

  .cart-total {
    font-size: 1.5rem;
  }

  .cart-button {
    font-size: medium;
  }
  
  .cart-total-price {
    font-size: 1.5rem;
    grid-auto-rows: 2rem; 
    grid-auto-rows: 2rem;
    margin-top: 1rem;
  }
} 

@media (min-width: 992px) {
  .showCart-products {
    width: 38%;
  }
}